<!DOCTYPE html>
<html>
<head>
    <title>3D Visualization</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="importmap">
    {
        "imports": {
            "three": "./static/js/three/three.module.js",
            "three/addons/": "./static/js/three/addons/"
        }
    }
    </script>
    <script src="/static/js/socket.io.min.js"></script>
    <script type="module" src="/static/js/app.js"></script>
</head>
<body>
    <div id="menu">
        <div id="hamburger" onclick="toggleMenu()">☰</div>
        <div id="settingsPanel" class="hidden">
            <form>
                <label for="pinSystem">Pin Coordinate System:</label>
                <select id="pinSystem">
                    <option value="none">None</option>
                </select>
                <button type="button" onclick="applyPin()">Apply</button>
            </form>
        </div>
    </div>
</body>
</html>
