#menu {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#hamburger {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    color: white
}

.hidden {
    display: none;
}

#settingsPanel {
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
}
